<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faraz's Blog</title>
</head>
<body>
    <header>
        <h1>
            <a href="/">
                Faraz's blog
            </a>
        </h1>
    </header>

    <article>
        <time>published: 23.09.2024</time>
        <h2>
            <a  href="">
                My first post
            </a>
        </h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur a
        </p>
    </article>

    <article>
        <time>published: 23.09.2024</time>
        <h2>
            <a href="">
                My second post
            </a>
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        </p>
    </article>
    
</body>
</html>